<!-- Footer -->
<footer>
    <div class="row row-centered" style="text-align: center" id="footer">
        <div class="col-md-12 col-centered">
            <p>Copyright &copy <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
        </script>; Olivia Wardle Ltd, Olivia Wardle Ltd is a registered company in England and Wales, no. 09851706.</p>
        </div>
    </div>
    <!-- /.row  VAT registration no. ######-->
</footer>