<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container" id="mainnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Olivia Wardle <em>Props Stylist</em></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/portfolio" >Portfolio</a>
                </li>
                <li>
                    <a href="/aboutme">About</a>
                </li>
                <li>
                    <a href="https://uk.pinterest.com/oliviawardle/"><img src="/images/pinterest.png" alt="HTML5 Icon" style="width:24px;height:24px;"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/oliviawardle/"><img src="/images/instagram.png" alt="HTML5 Icon" style="width:28px;height:28px;"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>