<!DOCTYPE html>
<html lang="en">

<head>

    
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1, width=device-width" />
  <meta name="description" content="Olivia Wardle Prop Stylist London"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="google-site-verification" content="hkdxsSexN9MqQL0ZS1UtGsUZZpOeco_802TFGnusui0" />
  <meta name="google-site-verification" content="lieubNOxt_8xoVDH7kO35v2T4o24gCaVzqab2WjHFuM" />

  <title>About Me -Olivia Wardle Stylist</title>

    <!-- Arvo font -->
    <link href="https://fonts.googleapis.com/css?family=Lateef|Arvo" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap/jQuery Core JavaScript -->
    <script type='text/javascript' src='unitegallery/js/jquery-11.0.min.js'></script>
    <script src="javascripts/bootstrap.min.js"></script>

</head>

<body>

<!-- Navigation -->
<%include partials/header.ejs%>

<!-- Page Content -->
<div class="container" id="wrap">
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <br><br>
            <img src="images/OW.jpg" class="img-rounded center-block" alt="Cinque Terre">
            <br>
            <p>Olivia Wardle is a Prop Stylist based in London who provides Prop sourcing, Set dressing and
                Creative direction across Food, Still Life and Interiors Photography for a range of Editorial,
                Advertising, Web and Marketing clients.</p>
            <br>

            <p><img src="images/mailIcon.png" height="25" width="25">      <a href="mailto:oliviawardlestylist@gmail.com" target="_top">oliviawardlestylist@gmail.com</a></p>

            <p><img src="images/phoneIcon.png" height="25" width="25"> +44 (0)7929 637 759</p>
                    <br>
            <p style="font-weight: bold;">Clients include:</p>
            <p> Aldi/ Asda Magazine / Bacardi / BBC Books / Delicious Magazine / Eat. / Ebury Publishing / Eye to Eye Media / Good Housekeeping Magazine 
                / Harper collins / Hearst Publishing / Hodder / Little Brown Books / Marks and Spencer / McVities / Morrisons / Olive Magazine / Orion
                Publishing / Alphabetic Ally / Penguin Random House / Ryland Peters and Small / Sainsbury's / Simon and
                Schuster / Smith and Gilmour / Tesco / The Co-op / Unilever / Waitrose Entertaining / Yellow Kite
                Books</p>



            <p style="font-weight: bold;">Books:</p>
            <p> Roast Revolution - Kathy Kordalis
                Rosemary Shrager's Cookery Course - Rosemary Shrager /
                Live Well With Louise - Louise Thomson /
                Fast Cakes - Mary Berry /
                Natural Beauty Masks – Caroline Artiss /
                Middle Eastern Feasts – Tony Kitous /
                The Hidden Hut – Simon Stallard /
                15 Minute Meals – Donal Skehan /
                Ultimate Fit Food – Gordon Ramsay /
                Bread Street Kitchen – Gordon Ramsay /
                Rhitrition – Rhiannon Lambert /
                The Food Medic – Dr Hazel Wallace /
                Tanya Burr Bakes – Tanya Burr /
                Eat Live Go - Donal Skehan /
                Ready Steady Glow – Madeleine Shaw /
                Smart Carbs – Davina McCall /
                Malaysia – Ping Coombes /
                Get the Glow – Madeleine Shaw /
                The Dumpling Sisters Cookbook- Amy and Julie Zhang /
                Clean and Lean – James Duigan</p>
            <a href="/portfolio" style="text-decoration:none; font-weight: bold; color: #1A1A1A; font-size: 120%">View Portfolio</a><br><br>
        </div>
    </div>

    <br><br>

    <!-- footer -->
    <%include partials/footer.ejs%>

</div>
<!-- /.container -->



<!-- Client side Jquery -->
<script src="javascripts/aboutme.js"></script>
</body>

</html>
