<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>OW-AboutMe</title>

    <!-- Arvo font -->
    <link href="https://fonts.googleapis.com/css?family=Lateef|Arvo" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap/jQuery Core JavaScript -->
    <script type='text/javascript' src='unitegallery/js/jquery-11.0.min.js'></script>
    <script src="javascripts/bootstrap.min.js"></script>

</head>

<body>

<!-- Navigation -->
<%include partials/header.ejs%>

<!-- Page Content -->
<div class="container" id="wrap">
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <br><br>
            <img src="images/OW.jpg" class="img-rounded center-block" alt="Cinque Terre">
            <br>
            <p>London based Fashion, lifestyle and interiors Stylist</p>
            <br>
            <p>To chat about a potential project or enquiry, please do get in touch via telephone or email:</p>

            <p><img src="images/mailIcon.png" height="25" width="25">      <a href="mailto:oliviawardlestylist@gmail.com" target="_top">oliviawardlestylist@gmail.com</a></p>

            <p><img src="images/phoneIcon.png" height="25" width="25"> +44 (0)7929 637 759</p>
                    <br><br>
            <p>Selected clients include:</p>
            <p>BOOKS</p><p>James Duigan 'Clean and Lean' / Madeleine Shaw 'Get The Glow' , 'Ready Steady Glow' / Gordon Ramsay 'Bread Street Kitchen' / The Dumpling Sisters / Tanya Bakes / Davina's Smart Carbs</p>

            <p>ADVERTISING</p><p>UKTV Good food / Bacardi / Philadelphia / Sainsbury's / Morrisons / Mcvities / Tesco</p>

            <p>EDITORIAL</p><p>Olive Magazine / Delicious Magazine / Tesco Real Food / Essentials Magazine / Woman and Home Magazine</p>
            <a href="/portfolio" style="text-decoration:none; font-weight: bold; color: #1A1A1A; font-size: 120%">View Portfolio</a><br><br>
        </div>
    </div>

    <br><br>

    <!-- footer -->
    <%include partials/footer.ejs%>

</div>
<!-- /.container -->



<!-- Client side Jquery -->
<script src="javascripts/aboutme.js"></script>
</body>

</html>
