<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1, width=device-width" />
  <meta name="description" content="Olivia Wardle Prop Stylist London"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="google-site-verification" content="hkdxsSexN9MqQL0ZS1UtGsUZZpOeco_802TFGnusui0" />

  <title>Olivia Wardle Stylist</title>

  <!-- Bootstrap Core CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">


  <!-- Custom CSS -->
  <link href="stylesheets/full.css" rel="stylesheet">

  <!-- ubuntu/Lateef font -->
  <link href="https://fonts.googleapis.com/css?family=Lateef|Arvo" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>

<body>
<%include partials/header.ejs%>

<main role="main" class="links">
  <div class="starter-template">
  <a href="/portfolio"> - Portfolio - </a>
    <br>
  <a href="/aboutme"> - About - </a>
  </div>

</main><!-- /.container -->

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>
<!-- Client side Jquery -->
<script src="javascripts/homejquery.js"></script>

</body>

</html>
