<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>OW-Portfolio</title>

    <!-- Arvo font -->
    <link href="https://fonts.googleapis.com/css?family=Lateef|Arvo" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">



</head>

<body>

<!-- Navigation -->
<%include partials/header.ejs%>

<!-- Page Content -->
<div class="container">

    <br>
    <br>
    <img class="back-to-top" src="images/top-button-mobile.png">
    <!--/unitegallery-->

    <div id="gallery" style="display:none;">


            <!--<img alt="Ready Steady Glow - Photography: Martin Poole"
                 src="images/big/ReadySteadyGlow/4 juices.jpg"
                 data-image="images/big/ReadySteadyGlow/4 juices.jpg"
                 data-description="4juices"
                 style="display:none">-->
            <% var filePaths= dataThumbs;
            for(var i=0; i < filePaths.length; i++){
                 var path= "images/thumbs/"+filePaths[i];
                 var pathBig = "images/big/"+filePaths[i];
                 if(dataAuthor[i]==" ")
                     var text = dataName[i]+", "+dataPhotographer[i]+", "+dataPublisher[i];
                 else
                     var text = dataName[i]+", "+dataAuthor[i]+", "+dataPhotographer[i]+", "+dataPublisher[i];

            %>
            <img alt="<%=text%>"
                 src="<%=path%>"
                 data-image="<%=pathBig%>"
                 data-description="<%text%>"
                 style="display:none">
            <%}%>

    </div>



</div>
<!-- /.container -->
<!-- footer -->
<%include partials/footer.ejs%>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type='text/javascript' src='unitegallery/js/jquery-11.0.min.js'></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<!--unite gallery-->
<script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script>
<link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' />
<script type='text/javascript' src='unitegallery/themes/tiles/ug-theme-tiles.js'></script>
<!--unite gallery-->
<!-- Client side Jquery -->
<script type="text/javascript" src="javascripts/portfolio.js"></script>
<script type="text/javascript" src="javascripts/UnitedGal.js"></script>

<!--/unitegallery-->
</body>

</html>
