<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>OW-Portfolio</title>

    <!-- Arvo font -->
    <link href="https://fonts.googleapis.com/css?family=Lateef|Arvo" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">



</head>

<body>

<!-- Navigation -->
<%include partials/header.ejs%>

<!-- Page Content -->
<div class="container">

    <br>
    <br>
    <img class="back-to-top" src="images/top-button-mobile.png">
    <!--/unitegallery-->

    <div id="gallery" style="display:none;">


            <!--<img alt="Ready Steady Glow - Photography: Martin Poole"
                 src="images/big/ReadySteadyGlow/4 juices.jpg"
                 data-image="images/big/ReadySteadyGlow/4 juices.jpg"
                 data-description="4juices"
                 style="display:none">-->
            <% var filePaths= dataThumbs;
            for(var i=0; i < filePaths.length; i++){
                 var path= "images/thumbs/"+filePaths[i];
                 var pathBig = "images/big/"+filePaths[i];
                 var text = dataText[i];
            %>
            <img alt="<%=text%>"
                 src="<%=path%>"
                 data-image="<%=pathBig%>"
                 data-description="Avocado Toast with Feta"
                 style="display:none">
            <%}%>

            <!--<img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Avocado Toast with Feta.jpg"
             data-image="images/big/ReadySteadyGlow/Avocado Toast with Feta.jpg"
             data-description="Avocado Toast with Feta"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Beetroot Kale and Mozerrella Salad.jpg"
             data-image="images/big/ReadySteadyGlow/Beetroot Kale and Mozerrella Salad.jpg"
             data-description="Beetroot Kale and Mozerrella Salad"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Blueberry and Oat Bake.jpg"
             data-image="images/big/ReadySteadyGlow/Blueberry and Oat Bake.jpg"
             data-description="Blueberry and Oat Bake"
             style="display:none">

             <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Carrot Bircher.jpg"
             data-image="images/big/ReadySteadyGlow/Carrot Bircher.jpg"
             data-description="Carrot Bircher"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Chicory Grape Salad.jpg"
             data-image="images/big/ReadySteadyGlow/Chicory Grape Salad.jpg"
             data-description="Chicory Grape Salad"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Coconut Lime Quinoa Porridge.jpg"
             data-image="images/big/ReadySteadyGlow/Coconut Lime Quinoa Porridge.jpg"
             data-description="Coconut Lime Quinoa Porridge"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Courgette and Halloumi Frittatas.jpg"
             data-image="images/big/ReadySteadyGlow/Courgette and Halloumi Frittatas.jpg"
             data-description="Courgette and Halloumi Frittatas"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Goan Chicken Curry.jpg"
             data-image="images/big/ReadySteadyGlow/Goan Chicken Curry.jpg"
             data-description="Goan Chicken Curry"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Lamb and Spinach Curry.jpg"
             data-image="images/big/ReadySteadyGlow/Lamb and Spinach Curry.jpg"
             data-description="Lamb and Spinach Curry"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Middle Eastern Couscous.jpg"
             data-image="images/big/ReadySteadyGlow/Middle Eastern Couscous.jpg"
             data-description="Middle Eastern Couscous"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Pea Fritter Avocardo Smash.jpg"
             data-image="images/big/ReadySteadyGlow/Pea Fritter Avocardo Smash.jpg"
             data-description="Pea Fritter Avocardo Smash"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Red Thai Lentil Soup.jpg"
             data-image="images/big/ReadySteadyGlow/Red Thai Lentil Soup.jpg"
             data-description="Red Thai Lentil Soup"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Roast Pumpkin.jpg"
             data-image="images/big/ReadySteadyGlow/Roast Pumpkin.jpg"
             data-description="Roast Pumpkin"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Seabass with Broccoli mash.jpg"
             data-image="images/big/ReadySteadyGlow/Seabass with Broccoli mash.jpg"
             data-description="Seabass with Broccoli mash"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Spiced Steak with Sweetcorn mash 1.jpg"
             data-image="images/big/ReadySteadyGlow/Spiced Steak with Sweetcorn mash 1.jpg"
             data-description="Spiced Steak with Sweetcorn mash"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Sweet Potato Noodle Salad.jpg"
             data-image="images/big/ReadySteadyGlow/Sweet Potato Noodle Salad.jpg"
             data-description="Sweet Potato Noodle Salad"
             style="display:none">

            <img alt="Ready Steady Glow - Photography: Martin Poole"
             src="images/thumbs/ReadySteadyGlow/Whole Baked Fish.jpg"
             data-image="images/big/ReadySteadyGlow/Whole Baked Fish.jpg"
             data-description="Whole Baked Fish"
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg1915 1.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg1915 1.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg1979 1.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg1979 1.jpg"
             data-description=""
             style="display:none">

             <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2036.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2036.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2158 1.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2158 1.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2169 1.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2169 1.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2299.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2299.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2337 1.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2337 1.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2500.jpg"
             data-image="images/big/TanyaBakes/Tanya 1 Susanna Blavarg2500.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg2677.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg2677.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg2820.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg2820.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3011 1.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3011 1.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3223.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3223.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3636.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3636.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3655.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3655.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3806.jpg"
             data-image="images/big/TanyaBakes/Tanya 2 Susanna Blavarg3806.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 3 Susanna Blavarg3983.jpg"
             data-image="images/big/TanyaBakes/Tanya 3 Susanna Blavarg3983.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4146 2_comp.jpg"
             data-image="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4146 2_comp.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4319.jpg"
             data-image="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4319.jpg"
             data-description=""
             style="display:none">

            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4450.jpg"
             data-image="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4450.jpg"
             data-description=""
             style="display:none">


            <img alt="Tanya Bakes - Photography: Susannah Blavarg"
             src="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4673.jpg"
             data-image="images/big/TanyaBakes/Tanya 3 Susanna Blavarg4673.jpg"
             data-description=""
             style="display:none">


            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_BloodyFizzMary_013-1.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_BloodyFizzMary_013-1.jpg"
             data-description="BloodyFizzMary"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_ChickenWings_039.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_ChickenWings_039.jpg"
             data-description="ChickenWings"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_PerfectSteak_040.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_PerfectSteak_040.jpg"
             data-description="PerfectSteak"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_SaltPepperSquid_040_Option.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_SaltPepperSquid_040_Option.jpg"
             data-description="SaltPepperSquid"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_ScollopsArtichokes_033.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_ScollopsArtichokes_033.jpg"
             data-description="ScollopsArtichokes"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_Shortbread_027.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_Shortbread_027.jpg"
             data-description="Shortbread"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_SquidAvocadoSalsaChorizo_019.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_SquidAvocadoSalsaChorizo_019.jpg"
             data-description="SquidAvocadoSalsaChorizo"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_SteakSandwich_038.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_SteakSandwich_038.jpg"
             data-description="SteakSandwich"
             style="display:none">

            <img alt="Gordon Ramsay Bread Street Kitchen - Photography: Jamie Orlando Smith"
             src="images/thumbs/GordonRamsay/JOS_GR_BSK_SteamedBream_011.jpg"
             data-image="images/big/GordonRamsay/JOS_GR_BSK_SteamedBream_011.jpg"
             data-description="SteamedBream"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/cake special.jpg"
             data-image="images/big/Delicious/cake special.jpg"
             data-description="cake1"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/cake special2.jpg"
             data-image="images/big/Delicious/cake special2.jpg"
             data-description="cake2"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/cake special4.jpg"
             data-image="images/big/Delicious/cake special4.jpg"
             data-description="cake4"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/cake special5.jpg"
             data-image="images/big/Delicious/cake special5.jpg"
             data-description="cake5"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/cake special6.jpg"
             data-image="images/big/Delicious/cake special6.jpg"
             data-description="cake6"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/cake special7.jpg"
             data-image="images/big/Delicious/cake special7.jpg"
             data-description="cake7"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial8.jpg"
             data-image="images/big/Delicious/ChocolateSpecial8.jpg"
             data-description="ChocolateSpecial8"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial.jpg"
             data-image="images/big/Delicious/ChocolateSpecial.jpg"
             data-description="ChocolateSpecial"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial2.jpg"
             data-image="images/big/Delicious/ChocolateSpecial2.jpg"
             data-description="ChocolateSpecial2"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial3.jpg"
             data-image="images/big/Delicious/ChocolateSpecial3.jpg"
             data-description="ChocolateSpecial3"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial4.jpg"
             data-image="images/big/Delicious/ChocolateSpecial4.jpg"
             data-description="ChocolateSpecial4"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial6.jpg"
             data-image="images/big/Delicious/ChocolateSpecial6.jpg"
             data-description="ChocolateSpecial6"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial7.jpg"
             data-image="images/big/Delicious/ChocolateSpecial7.jpg"
             data-description="ChocolateSpecial7"
             style="display:none">


            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial9.jpg"
             data-image="images/big/Delicious/ChocolateSpecial9.jpg"
             data-description="ChocolateSpecial9"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial10.jpg"
             data-image="images/big/Delicious/ChocolateSpecial10.jpg"
             data-description="ChocolateSpecial10"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial11.jpg"
             data-image="images/big/Delicious/ChocolateSpecial11.jpg"
             data-description="ChocolateSpecial11"
             style="display:none">

            <img alt="Delicious Magazine - Photography: Toby Scott"
             src="images/thumbs/Delicious/ChocolateSpecial12.jpg"
             data-image="images/big/Delicious/ChocolateSpecial12.jpg"
             data-description="ChocolateSpecial12"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/bircher.jpg"
             data-image="images/big/GetTheGlow/bircher.jpg"
             data-description="bircher"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/blueberrypancake.jpg"
             data-image="images/big/GetTheGlow/blueberrypancake.jpg"
             data-description="blueberrypancake"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/cheesecake.jpg"
             data-image="images/big/GetTheGlow/cheesecake.jpg"
             data-description="cheesecake"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/crumble.jpg"
             data-image="images/big/GetTheGlow/crumble.jpg"
             data-description="crumble"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/monkfishcurry.jpg"
             data-image="images/big/GetTheGlow/monkfishcurry.jpg"
             data-description="monk fish curry"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/parsnipsoup.jpg"
             data-image="images/big/GetTheGlow/parsnipsoup.jpg"
             data-description="parsnip soup"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/smoothies.jpg"
             data-image="images/big/GetTheGlow/smoothies.jpg"
             data-description="smoothies"
             style="display:none">

            <img alt="Get The Glow - Photography: Martin Poole"
             src="images/thumbs/GetTheGlow/wintersalad.jpg"
             data-image="images/big/GetTheGlow/wintersalad.jpg"
             data-description="winter salad"
             style="display:none">-->

    </div>



</div>
<!-- /.container -->
<!-- footer -->
<%include partials/footer.ejs%>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type='text/javascript' src='unitegallery/js/jquery-11.0.min.js'></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<!--unite gallery-->
<script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script>
<link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' />
<script type='text/javascript' src='unitegallery/themes/tiles/ug-theme-tiles.js'></script>
<!--unite gallery-->
<!-- Client side Jquery -->
<script type="text/javascript" src="javascripts/portfolio.js"></script>
<script type="text/javascript" src="javascripts/UnitedGal.js"></script>

<!--/unitegallery-->
</body>

</html>
